footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    .horizontal-rule {
        height: 2px;
        background-color: #E8E8E8;
        width: 95%;
        margin: 0 auto;
        border-radius: 50%;
    }
    h6 {
        font-family: "Roboto Slab", serif;
        font-size: 17px;
        font-weight: 400;
        margin: 30px 0px;
        animation: fromBack 1s;
    }
    .payment-methods {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        img {
            height: 35px;
            width: 50px;
            cursor: pointer;
            animation: fromBottom 1s;
            &:hover {
                transition: 0.3s;
                scale: 1.2;
            }
        }
    }
    h3 {
        background-color: #E8E8E8;
        width: 100%;
        text-align: center;
        padding: 20px 0px;
        font-size: 17px;
        font-family: Avenir;
        font-weight: 100;
        margin-top: 30px;
        box-shadow: 0 0 10px rgba(128, 128, 128, 0.286);
        letter-spacing: 1px;
        font-weight: 300;
        z-index: 3;
        animation: fromBottom 1s;
        a {
            text-decoration: none;
            color: #000;
        }
    }
}