<nav>
    <div class="commerical">
        <h5>FREE SHIPPING WORLDWIDE</h5>
    </div>
    <div class="navigation">
        <h1 routerLink="/">Digital<span>Store</span></h1>

        <div class="search">
            <input type="text" placeholder="Search...">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="signIn-logIn">
            <div class="userAction">
                <i class="fa-regular fa-id-card"></i>
                <p>Sign up</p>
            </div>
            <div class="userAction">
                <i class="fa-solid fa-circle-user"></i>
                <p>Log in</p>
            </div>
            <div class="burgerBarD">
                <i class="fa-solid fa-bars-staggered burgerBar"></i>
            </div>
        </div>
    </div>
</nav>
