nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    .commerical {
        text-align: center;
        background-color: #010101;
        h5 {
            font-family: "Anton", sans-serif;
            color: #a6a2a2;
            font-size: 16px;
            padding: 7px;
            letter-spacing: 4px;
            font-weight: 400;
        }
    }
    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 50px;
        background-color: #fff;
    }
    h1 {
        font-size: 40px;
        font-family: "Roboto Slab", serif;
        font-weight: 500;
        padding: 8px 0px;
        cursor: pointer;
        position: relative;
        span {
            color: #5B32D6;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 5px;
            width: 50%;
            height: 2px;
            background-color: #5B32D6;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 5px;
            width: 100%;
            height: 2px;
            background-color: #010101;
        }
        &:hover {
            transition: 0.3s;
            &::before {
                transition: 0.3s;
                width: 50%;
                z-index: 1;
            }
            &::after {
                transition: 0.3s;
                width: 100%;
            }
        }
    }
    .search {
        display: flex;
        cursor: pointer;
        padding: 10px 15px;
        background-color: #fff;
        border: 1px solid #010101;
        border-radius: 30px;
        align-items: center;
        position: relative;
        input {
            width: 0;
            outline: none;
            border: none;
            font-weight: 500;
            transition: 0.8s;
            background: transparent;
            width: 400px;
        }
        i {
            color: #010101;
            font-size: 18px;
            &:hover {
                transition: 0.3s;
                color: #5B32D6;
            }
        }
        .searched-products {
            position: absolute;
            left: 0px;
            top: 40px;
            max-height: 300px;
            margin-top: 5px;
            background: white;
            border-radius: 8px;
            overflow-y: scroll;
            box-shadow: 0 4px 8px #010101(0, 0, 0, 0.1);
            z-index: 100;
            width: 450px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .product {
                display: flex;
                align-items: center;
                padding: 10px 15px;
                cursor: pointer;
                border-bottom: 1px solid #a6a6a6;
                img {
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                }
                .price-title {
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    h2 {
                        font-size: 18px;
                        font-family: "Roboto Flex", sans-serif;
                        font-weight: 400;
                    }
                    p {
                        font-size: 16px;
                        font-family: cursive;
                    }
                }
            }
        }
    }
    .signIn-logIn {
        display: flex;
        gap: 20px;
        align-items: center;
        .userAction {
            display: flex;
            gap: 5px;
            align-items: center;
            font-size: 19px;
            font-family: "Roboto Flex", sans-serif;
            cursor: pointer;
            position: relative;
            font-weight: 300;
            &:hover {
                i {
                    transition: 0.3s;
                    color: #5B32D6;
                }
            }
        }
         .burgerBarD {
                display: flex;
                align-items: center;
                cursor: pointer;
                font-size: 25px;
                color: #5B32D6;
                font-family: "Anton", sans-serif;
                .burgerBar {
                    font-size: 25px;
                    color: #5B32D6;
                    &:hover {
                        transition: 0.3s;
                        color: #2c02ab;
                    }
                }
            }
    }
    .sideMenu {
        position: fixed;
        right: 0px;
        background-color: #fff;
        height: 100%;
        width: 300px;
        display: flex;
        justify-content: center;
        transform: translateX(500px);
        transition: 0.3s;
        ul {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            list-style: none;
            width: 90%;
            text-align: center;
            li {
                font-size: 20px;
                cursor: pointer;
                font-family: "Roboto Flex", sans-serif;
                letter-spacing: 1px;
                font-weight: 300;
                border-bottom: 1px solid #e8e8e8;
                width: 100%;
                border-radius: 50%;
                padding-bottom: 5px;
            }
        }
    }
}