<nav>
    <div class="commerical">
        <h5>FREE SHIPPING WORLDWIDE</h5>
    </div>
    <div class="navigation">
        <h1 routerLink="/">Digital<span>Store</span></h1>

        <div class="search">
            <input #searchBar type="text" placeholder="Search..." [(ngModel)]="searchWord" (keyup)="searchProduct(searchWord)" (keyup.enter)="displaySearchedProductsDown()"  (focus)="searchAppear()" (input)="searchProduct(searchWord); searchAppear()" (blur)="hideResultsWithDelay()">
            <i class="fa-solid fa-magnifying-glass"></i>
            <div #searchResault (mousedown)="cancelBlurHide = true" (mouseup)="cancelBlurHide = false" class="searched-products">
                @for (product of displaySearchedProducts; track $index) {
                    <div class="product">
                        <img [src]="product.thumbnail" alt="{{product.title}}">
                        <div class="price-title">
                            <h2>{{product.title}}</h2>
                            <p>{{product.price.current}}$</p>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="signIn-logIn">
            <div class="userAction">
                <i class="fa-regular fa-id-card"></i>
                <p>Sign up</p>
            </div>
            <div class="userAction">
                <i class="fa-solid fa-circle-user"></i>
                <p>Log in</p>
            </div>
            <div #burgerBar class="burgerBarD">
                @if (!isMenuOpen) {
                    <i (click)="openSideMenu()" class="fa-solid fa-bars-staggered"></i>
                }
                @else {
                    <i (click)="openSideMenu()" class="fa-solid fa-x"></i>
                }
            </div>
        </div>
    </div>

    <div [style.transform]="isMenuOpen ? 'translateX(0px)' : 'translateX(500px)'" class="sideMenu">
        <ul>
            <li routerLink="/" routerLinkActive="activeLink" [routerLinkActiveOptions]="{ exact: true }" (click)="closeMenu()">Home</li>
            <li routerLink="/orderPage" routerLinkActive="activeLink" (click)="closeMenu()">Shop</li>
            <li (click)="closeMenu()">About</li>
        </ul>
    </div>
</nav>


