aside {
    width: 300px;
    padding-left: 50px;
    position: sticky;
    top: 110px;
    left: 0px;
    animation: fromLeft 1s;
    h2 {
        font-family: "Roboto Flex", sans-serif;
        font-size: 20px;
        font-weight: 400;
        border-bottom: 1px solid #E8E8E8;
        width: fit-content;
    }
    .filter-options {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        h3 {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            border-bottom: 1px solid #E8E8E8;
            width: 100%;
            font-size: 18px;
            padding-bottom: 10px;
        }
        .categorys {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            gap: 15px;
            display: none;
            overflow: hidden;
            button {
                height: 40px;
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer;
                background-color: #E8E8E8;
                outline: none;
                border: none;
                &:hover {
                    transition: 0.3s;
                    box-shadow: 0px 0px 25px #e8e8e8;
                    img {
                        transition: 0.3s;
                        transform: rotate(-15deg);
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: contain;
                    object-fit: contain;
                    pointer-events: none;
                }
                span {
                    font-size: 16px;
                    font-family: "Roboto", sans-serif;
                    pointer-events: none;
                }
            }
        }
        .brands {
            list-style-type: none;
            display: none;
            flex-direction: column;
            gap: 10px;
            overflow: hidden;
            li {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 18px;
                cursor: pointer;
                font-family: "Roboto", sans-serif;
                &:hover {
                    transition: 0.3s; 
                    transform: translateX(3px);
                    i {
                        transition: 0.3s;
                        transform: translateY(-5px);
                        color: #010101;
                    }
                }
                i {
                    color: #E8E8E8;
                    pointer-events: none;
                }
                p {
                    &::first-letter {
                        text-transform: uppercase;
                    }
                }
            }
        }
        .ratings {
            display: flex;
            flex-direction: column;
            gap: 15px;
            display: none;
            overflow: hidden;
            .star {
                font-size: 18px;
                font-family: "Roboto", sans-serif;
                cursor: pointer;
                p {
                    i {
                        color: #E8E8E8;
                    }
                    &:hover {
                        i {
                            transition: 0.3s;
                            color: #010101;
                            transform: translateY(-2px);
                        }
                    }
                }
            }
        }
    }
    .price-filter {
        width: 100%;
        max-width: 500px;
        padding: 30px 20px;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        display: none;
        overflow: hidden;
        .price-inputs {
            display: flex;
            gap: 30px;
            .min-price, .max-price {
                display: flex;
                flex-direction: column;
                gap: 5px;
                position: relative;
                p {
                   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    text-align: center;
                    position: absolute;
                    top: -11px;
                    left: 5px;
                    background-color: #fff;
                    padding: 0px 5px;
                    font-weight: 400;
                }
                input {
                    width: 100%;
                    height: 40px;
                    outline: none;
                    border: 1px solid #010101;
                    font-size: 16px;
                    border-radius: 5px;
                    padding: 0 15px;
                }
            }
        }  
        button {
            width: 100%;
            height: 45px;
            border-radius: 12px;
            border: none;
            background-color: #010101;
            color: white;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            margin-top: 15px;
            &:hover {
                transition: 0.3s;
                box-shadow: 0px 0px 10px #000;
            }
        } 
    }
    h4 {
        color: red;
        text-align: center;
        font-weight: 400;
        font-size: 15px;
    }   
}
.selected {
    color: #5B32D6;
    box-shadow: 0px 0px 5px #5B32D6;
    i {
        color: yellow !important;
    }
}

.selectedBrand {
    i {
        color: #010101 !important;
        color: #5B32D6;
        text-shadow: 0px 0px 5px #5B32D6;
    }
}

.selectedRating {
    i {
        color: gold !important;
        text-shadow: 0px 0px 15px gold;
    }
}

@media screen and (max-width: 800px) {
    aside {
        width: 100% !important;
        padding-inline: 50px;
        margin-bottom: 50px;
        animation: fromBack 1s !important;
        h2 {
            text-align: center;
            width: 100%;
            border-bottom: none;
        }
    }
}
