<section class="page-indicator"> 
    <p routerLink="/">Home</p>
    <i class="fa-solid fa-greater-than fa-beat"></i>
    <p routerLinkActive="active" routerLink="/orderPage">Order page <i class="fa-solid fa-cart-shopping"></i></p>
</section>

<section class="order-page-container">
    <app-aside-section></app-aside-section>

    <main>
        <section class="products">
            @for (product of displayProducts; track $index) {
                <div class="card">
                    <div class="image-container">
                      <img routerLink="/orderPage/detailsPage/{{product._id}}" [src]="product.thumbnail" alt="Modern Laptop">
                    </div>
                   <div class="content">
                        <article>
                            <p>{{product.price.current}}$<span>{{product.price.beforeDiscount == product.price.current ? "": `${product.price.beforeDiscount}$`}}</span></p>
                            <h2>{{product.title}}</h2>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                        </article>
                   </div>
                </div>
            }
        </section>
        <div class="products-number" #pageIndicators> 
           <div class="route-pages">
                <i class="fa-duotone fa-solid fa-chevron-left"></i>
                @for (page of productPages; track $index) {
                    <button (click)="getAllProducts(page, pageProductsSize)">{{page}}</button>
                }
                <i class="fa-duotone fa-solid fa-chevron-right"></i>
           </div>

            <div class="per-page">
                <label for="">Items per Page:</label>
                <select [(ngModel)]="pageProductsSize" (change)="getAllProducts(1, pageProductsSize)">
                    <option value="" disabled selected hidden>9</option>
                    <option value="6">6</option>
                    <option value="9">9</option>
                    <option value="18">18</option>
                    <option value="36">36</option>
                    <option value="38">ALL</option>
                </select>
            </div>
        </div>
        @if(showingProducts > 0){
            <p class="bottom-indicators">Showing {{showingProducts}} products on this page, out of {{totalProducts}} total.</p>
        }
        @else {
            <p class="bottom-indicators" style="margin-top: 90px; font-size: 16px;">The product you're looking for is unavailable!</p>
        }
       
    </main>
</section>
