<div class="no-account">
    <div class="register-or-create">
        <button (click)="closeNoAccount()" class="close-button">X</button>
        <h1>You are not signed in</h1>
        <h3>sign in or sign up to continue...</h3>
        <div class="action-buttons">
            <button onclick="">Sign up <i _ngcontent-ng-c1149255415="" class="fa-regular fa-id-card"></i></button>
            <button onclick="">Sign in <i _ngcontent-ng-c1149255415="" class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></button>
        </div>
    </div>
</div>
