.welcome-section {
    margin: 0 auto;
    margin-top: 130px;
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        animation: fromBottom 1s;
    }
    article {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 100%;
        justify-content: center;
        top: 0;
        left: 130px;
        animation: fromLeft 1s;
        span {
            background-color: #d72D2D;
            color: #fff;
            padding: 3px 10px;
            font-family: "Roboto Flex", sans-serif;
            border-radius: 7px;
            width: fit-content;
            box-shadow: 0px 0px 15px #d72D2D;
            animation: float 3s infinite;
            animation-delay: 1s;
        }
        h2 {
            font-size: 60px;
            max-width: 500px;
            font-family: "Roboto", sans-serif;
            font-weight: 600;
        }
        p {
            font-size: 20px;
            font-family: "Roboto", sans-serif;
        }
        button {
            font-family: "Roboto Flex", sans-serif;
            background-color: #6c3bff;
            color: white;
            border: none;
            border-radius: 50px;
            padding: 16px 40px;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            overflow: hidden;
            i {
                color: #fff;
                transform: translateX(250px);
                font-size: 20px;
            }
            &:hover {
                transition: 0.3s;
                box-shadow: 0px 0px 15px #6c3bff;
                text-shadow: 0px 0px 10px #fff;
                letter-spacing: 1px;
                i {
                    transition: 0.3s;
                    transform: translateX(0px);
                }
            }
        }
    }
}

.best-sellers-title {
    max-width: 1500px;
    margin: 30px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fromBack 1s;
    &::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 40%;
        width: 100%;
        height: 5px;
        background-color: #010101;
        border-radius: 50%;
    }
    h4 {
        position: relative;
        font-size: 30px;
        font-family: "Roboto Flex", sans-serif;
        letter-spacing: 4px;
        font-weight: 600;
        background-color: #fff;
        padding: 0 10px;
    }
}

.best-sellers {
    max-width: 1440px;
    min-height: 1000px;
    margin: 0 auto;
    background-color: #E8E8E8;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    .card {
        position: relative;
        width: 340px;
        height: 465px;
        background: #fff;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
        animation: fromBack 1s;
        cursor: pointer;
        transition: 0.3s;
        &:hover { 
           transform: translateY(-5px);
        }
        .image-container {
            height: 280px;
            overflow: hidden;
            background: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            background-color: #fff;
            border-bottom: 1px solid #E8E8E8;
            img {
                max-width: 95%;
                max-height: 95%;
                object-fit: contain;
                transition: 0.3s;
                cursor: pointer;
                &:hover {
                    scale: 1.1;
                }
            }
        }
        h5 {
            position: absolute;
            top: 258px;
            left: 0px;
            padding: 3px 6px;
            color: #fff;
            border-top-right-radius: 12px;
        }
        .content {
            padding: 20px;
            h2 {
                font-size: 18px;
                font-weight: 600;
                color: #1d1d1f;
                margin-bottom: 12px;
                font-family: "Roboto", sans-serif;
            }
            .stars {
                display: flex;
                align-items: center;
                gap: 5px;
                justify-content: center;
                position: absolute;
                bottom: 85px;
                width: 90%;
                left: 4%;
                i {
                    color: gold;
                    font-size: 18px;
                }
            }
            button {
                width: 90%;
                padding: 14px 0;
                background: #000;
                color: #fff;
                border: none;
                border-radius: 12px;
                font-size: 15px;
                font-weight: 600;
                cursor: pointer;
                letter-spacing: 0.5px;
                position: absolute;
                left: 5%;
                bottom: 25px;
                overflow: hidden;
                &:hover {
                    transition: 0.3s;
                    box-shadow: 0px 0px 15px #000;
                    i {
                        transition: 0.3s;
                        transform: translateY(0px);
                        text-shadow: 0px 0px 10px #fff;
                    }
                }
                i {
                    position: absolute;
                    background-color: #000;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    left: 0;
                    bottom: 0;
                    transform: translateY(200px);
                    border-radius: 12px;
                }
            }
            p {
                position: absolute;
                right: 0;
                top: 0;
                background-color: #000;
                color: #fff;
                padding: 3px 8px;
                border-top-right-radius: 16px;
                border-bottom-left-radius: 12px;
                font-size: 17px;
                font-family: cursive;
                cursor: pointer;
                &:hover {
                    transition: 0.3s;
                    scale: 1.2;
                    text-shadow: 0px 0px 5px #fff;
                    span {
                        transition: 0.3s;
                        text-shadow: 0px 0px 5px #d72D2D;  
                    }
                }
                span {
                    font-size: 15px;
                    text-decoration: line-through;
                    color: #d72D2D;
                    margin-left: 3px;
                }
            }
        }
    }
}

@media screen and (max-width: 1060px) {
    article {
        left: 50px !important;
        .welcome-h2 {
            font-size: 50px !important;
        }
        button {
            width: 80%;
        }
    }
}

@media screen and (max-width: 1000px) {
    article {
        left: 40px !important;
        .welcome-h2 {
            font-size: 40px !important;
            max-width: 410px !important;
        }
        button {
            width: 70%;
        }
    }
}

@media screen and (max-width: 885px) {
    .welcome-section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 185px !important;
        article {
            position: unset;
            align-items: center;
            text-align: center;
            padding: 20px;
            animation: fromBack 1s;
            button {
                padding: 10px;
            }
        }
    }
}

