<section class="welcome-section">
    <img [src]="welcomeSectionImages[indexOfImage]" alt="backgroundImage">
    <article>
        <span>Best Prices</span>
        <h2 class="welcome-h2">Incredible Prices on All Your Favorite Items</h2>
        <p>Get more for less on selected brands</p>
        <button routerLink="orderPage">Shop Now <i class="fa-solid fa-basket-shopping"></i></button>
    </article>
</section>

<section class="best-sellers-title">
    <h4>Best Sellers</h4>
</section>
<section class="best-sellers">
    @for (product of bestSellers; track $index) {
        <div class="card">
            <div  class="image-container">
              <img routerLink="/orderPage/detailsPage/{{product._id}}"  [src]="product.thumbnail" alt="Modern Laptop">
            </div>
            <h5 [style.backgroundColor]="product.stock <= 0 ? 'red' : 'green'">{{product.stock <= 0 ? "Not in stock" : `In stock: ${product.stock}`}}</h5>
           <div class="content">
                <article>
                    <p>{{product.price.current}}$<span>{{product.price.beforeDiscount == product.price.current ? "": `${product.price.beforeDiscount}$`}}</span></p>
                    <h2>{{product.title}}</h2>
                    <div class="stars">
                        @for (item of Array(math.round(product.rating)); track $index) {
                            <i class="fa-solid fa-star"></i>
                          }
                    </div>
                    <button 
                        [style.backgroundColor]="product.stock <= 0 ? 'rgba(1, 1, 1, 0.68)' : '#010101'"  
                        [style.pointerEvents]="product.stock <= 0 ? 'none' : 'auto'"
                        [disabled]="product.stock <= 0"
                        (click)="addToCart(product._id)">ADD TO CART <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                </article>
           </div>
        </div>
    }
</section>



<app-home-page-child></app-home-page-child>
